.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --primary-color: #dae5ea;
  --secondary-color: #3b3f40;
  --tertiary-color: #102c46;
  --fourth-color: #b4fce6e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  background-color: var(--fourth-color);
}

#resume, #contact {
  background-color: var(--primary-color);
  background-image: radial-gradient(#dae5ea, #b4fce6e0, #3b3f40);
}

/* HEADER STYLES START */
header {
  height: 400px;
  background-image: url('assets/images/hero.jpg');
  background-size: cover;
  display: flex;
  background-position: 80%
}

header {
  padding: 20px 35px;
  color: black;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky; 
  top: 0;
  border-bottom: solid 3px black
}

header h1 {
  margin: 0;
  font-size: 36px;
  color: black;
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-align: left
}

header h1 a:hover {
  text-shadow: 0 0 10px white;
  font-weight: bold;
  color: rgb(59, 59, 59)
}

header h3 {
  font-size: 16px
}

header a {
  text-decoration: none;
  color: black;
}

header nav {
  margin: 7px 0;
}

header h3 {
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: left
}

header img {
  float: left; 
  position: relative;
  border: 5px solid var(--secondary-color);
  border-radius: 15px;
}

/* HEADER STYLES END */

/* NAV STYLES START */

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li a {
  padding: 10px 15px;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-decoration: none
}

nav ul li a:hover {
  text-shadow: 0 0 10px white;
  font-weight: bold;
  color: rgb(59, 59, 59)
}

/* NAV STYLES END */

/* ABOUT STYLES BEGIN */

.about {
  padding: 20px;
  background-color: var(--primary-color);
  background-image: radial-gradient(#dedfe0, #707070e0);
  text-align: center;
  text-align: justify;
  border-bottom: solid 4px black
}

.about h1 {
  font-size: 36px;
  padding: 0 45px
}

#about-content {
  padding: 20px 50px
}

/* ABOUT STYLES END */

/* PORTFOLIO STYLES BEGIN */

.card {
  border: 3px solid black;
}

.card-header {
  text-align: center;
  display: flex;
  justify-content: space-around;
  color: black;
  border: 4px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  background-image: radial-gradient(#b4fce6e0, #114032e0);
}

.card-title a, .card-text {
  color: black;
  text-decoration: none;
}

.card-title a:hover {
  text-shadow: 0 0 10px white;
  font-weight: bold;
  color: rgb(59, 59, 59)
}

.card-text {
  font-style: italic;
  font-size: 14px;
  text-align: right
}

.col .row {
  align-items: center
}

.project-grid {
  background-color: var(--tertiary-color);
  padding: 20px;
  border-bottom: 4px solid black
}

.project-grid h2 {
  color: var(--primary-color)
}

.card-body {
  margin: 5px;
  text-align: center;
  text-decoration: none
}

.project-row {
  padding: 40px
}

/* PORTFOLIO STYLES END */

/* CONTACT STYLES START */

#contact-form {
display: flex-row;
padding: 10px
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid black;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid black;
  border-radius: 3px;
  padding: 5px;
}

button {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  background-color: grey;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

/* CONTACT STYLES END */

/* RESUME STYLES START */

#resume {
  align-items: center;
  padding: 15px
}

#resume-list {
  text-align: center;
  align-items: center;
  padding-left: 40%
}

#resume h1 {
  padding: 15px
}

#resume h3 {
  padding: 10px;
  text-decoration: underline;
  margin-top: 40px;
  color: black
}

#resume-link a {
  color: white;
  text-decoration: none;
  background-color: var(--tertiary-color);
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 10px
}

#resume-link a:hover {
  text-shadow: 0 0 10px white;
  font-weight: bold;
  background-color: var(--secondary-color)
}

td {
  padding: 5px
}

/* RESUME STYLES END */

/* FOOTER STYLES START */

footer {
  background-color: var(--fourth-color);
  color:rgb(59, 59, 59);
  border: 2px solid var(--secondary-color)
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.footer ul li a {
  padding: 10px 15px;
  font-size: 40px;
  text-decoration: none;
  color: rgb(59, 59, 59)
}

.footer ul li a:hover {
  font-weight: bold;
  color: #039166e0;
}

/* FOOTER STYLES END */